body {
	background-color: #e3e6e8;
}

.page-container {
	width: 1170px;
	margin: 0 auto;
}

.extra-buttons button {
	margin-top: 15px;
}

.extra-buttons button:not(:first-child) {
	margin-left: 15px;
}

.search-body .popover {
	left: 31px !important;
	width: 738px;
	max-width: none;
}

#history-container .arrow {
	left: 605px !important;
}

#history-container td {
	border: none;
}

#history-container .popover-content {
	padding: 0;
}

#history-container .table {
	margin: 0;
}

#history-container .date-col {
	text-align: right;
}

#builder-container .arrow {
	left: 720px !important;
}

#builder-container td:nth-child(1) {
	width: 100px;
}

#builder-container td:nth-child(1) .btn-group, #builder-container td:nth-child(1) button {
	width: 100%;
}

.page-header {
	border: none;
	padding: 0;
}

.page-header .glyphicon {
	top: 2px;
}


.user {
	font-size: 0.8em;
}

.workspace-dropdown .glyphicon {
	margin-right: 10px;
}

.panel-heading {
	background-image: none !important;
}

.panel-main .panel-heading {
	border-bottom: 0;
}

.panel-main th {
	border-bottom: 0 !important;
	background-color: #f5f5f5;
}

.btn-group-vertical .caret {
	float: right;
	margin-top: 9px;

}

.btn-group-vertical {
	margin-bottom: 5px;
	width: 100%;
}

.btn-group-vertical button {
	text-align: left;
}

.btn-file {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

.btn-file.new {
	background-color: #EAF1F7;
}


.workspace-link-container {
	position: absolute;
	top: 6px;
	right: 21px;
	
}